<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @step.text %>
</p>

<p>
  <b>Picture:</b>

</p>

<%= image_tag @step.picture.url %>

<%= link_to 'Restart Game', restart_game_path %>
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
